<button type="button" class="pagination-elem pagination-controls first-page">{{firstPage}}</button>
<p class="pagination-elem pre-separator">...</p>
<div class="middle-page-numbers"></div>
<p class="pagination-elem post-separator">...</p>
<button type="button" class="pagination-elem pagination-controls last-page">{{lastPage}}</button>
