#pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    margin-top: 50px;
  }
}

.page-numbers {
  display: flex;
}

.pagination-elem {
  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  background-color: transparent;
  min-width: 40px;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 11px;

  &.hidden {
    @extend %visuallyHidden;
  }
}
body.dark-theme .pagination-elem {
  color: $white;
}

.pagination-controls {
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: (0px 0px 8px -2px rgba(255, 145, 0, 0.705));
  }

  &.prev,
  &.next {
    background-color: $dark-bg;
  }

  &.active-page {
    background-color: $accent-color;
    color: $white;
  }
}

.pagination-arrows {
  stroke: $dark;
}

@media screen and (max-width: 768px) {
  .pre-separator,
  .post-separator,
  .first-page,
  .last-page {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
